<% layout('layouts/admin/boilerplate') %>
    <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <h3>Admin Dashboard</h3>
            <ul>
                <li>
                    <a href="/admin">Home</a>
                </li>
                <li>Admin</li>
            </ul>
        </div>
        <%- include('../partials/flash') %>

            <!-- Breadcubs Area End Here -->
            <!-- Dashboard summery Start Here -->
            <div class="row gutters-20">
                <a class="col-xl-3 col-sm-6 col-12" href="/admin/view/all-admins">
                    <div class="dashboard-summery-one mg-b-20">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="item-icon bg-light-yellow">
                                    <svg width="80" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000"
                                        stroke="#000">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                            <g>
                                                <path fill="none" d="M0 0h24v24H0z"></path>
                                                <path
                                                    d="M12 14v8H4a8 8 0 0 1 8-8zm0-1c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm9 4h1v5h-8v-5h1v-1a3 3 0 0 1 6 0v1zm-2 0v-1a1 1 0 0 0-2 0v1h2z">
                                                </path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item-content">
                                    <div class="item-title">Admins</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/admin/all-class" class="col-xl-3 col-sm-6 col-12">
                    <div class="dashboard-summery-one mg-b-20">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="item-icon bg-light-blue">
                                    <img src="/svg/class.svg" width="80" alt="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item-content">
                                    <div class="item-title">All Classes</div>
                                    <div class="item-number"><span class="counter"
                                            data-num="<%= pageInfo.systemInfo.totalClasses %>"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/admin/student/view/enrolled/all" class="col-xl-3 col-sm-6 col-12">
                    <div class="dashboard-summery-one mg-b-20">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="item-icon bg-light-green ">
                                    <img src="/svg/student.svg" width="80" alt="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item-content">
                                    <div class="item-title">Total Students</div>
                                    <div class="item-number"><span class="counter"
                                            data-num="<%= pageInfo.systemInfo.totalStudents %>">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/admin/teacher/view/all" class="col-xl-3 col-sm-6 col-12">
                    <div class="dashboard-summery-one mg-b-20">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="item-icon bg-light-blue">
                                    <img width="80" src="/svg/teacher.svg" alt="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item-content">
                                    <div class="item-title">Total Teachers</div>
                                    <div class="item-number"><span class="counter"
                                            data-num="<%= pageInfo.systemInfo.totalTeachers %>"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>



            </div>
            <!-- Dashboard summery End Here -->
            <!-- Dashboard Content Start Here -->
            <div class="row gutters-20">
                <div class="col-12 col-xl-6 col-3-xxxl">
                    <div class="card dashboard-card-three pd-b-20">
                        <div class="card-body">
                            <div class="heading-layout1">
                                <div class="item-title">
                                    <h3>Students</h3>
                                </div>
                                <div class="dropdown d-none">
                                    <a class="dropdown-toggle" href="/#" role="button" data-toggle="dropdown"
                                        aria-expanded="false">...</a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/#"><i
                                                class="fas fa-times text-orange-red"></i>Close</a>
                                        <a class="dropdown-item" href="/#"><i
                                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                        <a class="dropdown-item" href="/#"><i
                                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                    </div>
                                </div>
                            </div>
                            <div class="doughnut-chart-wrap">
                                <canvas id="student-doughnut-chart" width="100" height="300"></canvas>
                            </div>
                            <div class="student-report">
                                <div class="student-count pseudo-bg-blue">
                                    <h4 class="item-title">Total Female Students</h4>
                                    <div class="item-number">
                                        <%= pageInfo.totalFemaleStudents %>
                                    </div>
                                </div>
                                <div class="student-count pseudo-bg-yellow">
                                    <h4 class="item-title">Total Male Students</h4>
                                    <div class="item-number">
                                        <%= pageInfo.totalMaleStudents %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dashboard Content End Here -->
    </div>